---
layout: pages
---

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul style="list-style-type: none">
    {% for i in (1..categories_max) reversed %}
      {% for category in site.categories %}
        {% if category[1].size == i%}
        {% if category[0] contains 'Curso'%}
        <li>
          <a href="/{{ category[0] | slugify }}" style="text-decoration: none;">
            <strong>{{ category[0] }}</strong> <span>{{ i }}</span>
          </a>
        </li>
        {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>